* {
    margin: 2px;
    padding: 2px;
}
header{
    margin: 0px;
    padding: 0px;
}
.navbar {
    background: #095c91;
    margin: 0px;
    padding: 0px;
}


#navbarNav {
    font-size: medium;

}

.row {
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%
}

.container {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 100px;
}

.container-fluid {
    outline: none;
    margin: 2%;
    padding: 2%;
    text-align: center; 
    padding-bottom:8px;
}

/* .card-title {
    
    color: white;
    font-weight: 700;
} */
.card-title{
    font-size:x-large;
     font-weight:700px; 
     font-family:'Times New Roman';
     color:white;
     text-align: center;
    justify-content: center;
   
}

.card-body {
    outline: none;
    margin: 0px;
    padding: 0px;
}


.card{
    outline: none;
    margin: 0;
    padding: 0;
}
#FAQ {
    color: #3b7faa;
    font-weight: 1200;
    font-size: medium;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Times New Roman';
    text-align: center;
}

.content.li {
    font-style: normal;
    margin: 2px;
    padding: 2px;
    font-size: medium;
}

.dropdown {
    text-align: right;
    justify-content: center;
}