*{
    margin: 0px;
    padding: 0px;
}
#logo{
    width: auto;
    height: 3100px;

}
.row{
    margin: 0px;
    padding: 0px;
}
#one{
    background-image: url('home_search.png');
    background-color: rgba(212, 208, 208, 0.685);
    /* width:fit-content; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin: 0px;
}
.col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
}
.card{
    background-color: transparent;
    border:none;
    justify-content: center;
    padding:15px;
}
.card-body{
    background-color: transparent;
    /* margin: 1em;
    padding: 1em; */
}

#logo{
    margin: 2px;
    padding: 3px;
    margin-bottom:0.5em;
    width:auto;
    height: 60px;
}
.card-text{
    background-color:transparent;
    font-size:1.3em;
     color:grey;
     padding-bottom:0.5em;
     /* margin: 1em;
     padding:1em; */
}

.card-body{
    background-color:transparent;
}
.form-check{
    background-color:transparent;
    /* margin: 0.5em; 
    padding: 1em;*/  
}
#flexRadioDefault1, #flexRadioDefault2{
    color:blue;
    font-weight: bold;
}
#check-box1{
    color:blue;
    font-weight: bold;
    /* padding:10px;
    margin: 5px; */
}

#check-box2{
    color:blue;
    font-weight: bold;
    /* padding:10px;
    margin: 5px; */
}
.d-flex{
    margin: 5px;
    padding: 5px;
}